<div id="chat-container" class="ui-scale">
		<div id="chat-tabs">
			<div class="chat-tab text-border chat-tab-selected">
				<span class="chat-tab-name">General</span>
			</div>
			<div class="chat-tab text-border">
				<span class="chat-tab-name">Service</span>
			</div>
			<div class="chat-tab chat-tab-edit"></div>
		</div>
		<div id="chat-content-container">
			<ul class="chat-content" style="font-size: 16px;">
				<li class="chat-message-service">
					<span class="chat-message-zone-zone">[Service]</span>
					<span class="chat-message-zone-text">Connecting to server...</span>
				</li>
				<li class="chat-message-zone">
					<span class="chat-message-zone-zone">[Zone]</span>
					<span class="chat-message-zone-name">GochiUto</span>:
					<span class="chat-message-zone-text">y ;(</span>
				</li>
					<li class="chat-message-zone"><span class="chat-message-zone-zone">[Zone]</span>
						<span class="chat-message-zone-name">GochiUto</span>:
						<span class="chat-message-zone-text">i hate dungeons anyways</span>
				</li>
			</ul>
		</div>
		<div id="chat-container-input">
				<select id="chat-type">
					<option value="2">Zone (39)</option>
				</select>
				<input type="text" id="chat-input" maxlength="256">
				<button id="chat-send">Send</button>
		</div>
</div>
