<div id="dialog-window-container" style="display: none;" class="scale">
  <div id="dialog-window-frame">
      <div id="dialog-window-top">
          <span id="dialog-window-close-button" class="window-close-button">x</span>
          <div class="text-border" id="dialog-source-name"></div>
      </div>
      <div id="dialog-window" class="text-border">
        <ul id="quick-bar"></ul>
      </div>
  </div>
</div>
