<div id="player-container" class="text-border scale">
    <!-- PLAYER STATUS -->
    <div id="player-forms">
        <div class="name-panel">
            <div id="player-party-leader" style="display: none;"></div>
            <div id="player-name-panel"></div>
            <div id="player-level-panel">1</div>
        </div>
        <div id="player-life-panel" style="background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 23, 38) 100%, rgb(237, 220, 160) 100%) repeat scroll 0% 0%;"></div>
        <div id="player-energy-panel" style="background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 186, 23) 100%, rgb(237, 220, 160) 100%) repeat scroll 0% 0%;"></div>
        <div id="player-mana-panel" style="background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(23, 109, 239) 100%, rgb(237, 220, 160) 100%) repeat scroll 0% 0%;">20/20</div>

        <div id="player-buffs"></div>
    </div>
</div>
