<div id="quick-bar-container" class="scale">
  <div id="quick-bar-frame">
      <div id="experience-bar" style="background: linear-gradient(90deg, rgb(95, 216, 36) 26.875%, rgb(231, 231, 231) 26.875%);">
      </div>
      <ul id="quick-bar">
          <li class="quick-bar-slot" id="quick-bar-slot-0"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-1"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-2"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-3"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-4"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-5"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-6"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-7"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-8"></li>
          <li class="quick-bar-slot" id="quick-bar-slot-9"></li>
      </ul>
  </div>
</div>
