<div id="score-container" class="text-border scale">
	<div id="score-content-container">
		<div id="score-whole-content">
			<div id="score-fixed-header" class="row">
				<div id="score-rank-header" class="col-2">
					<span class="text-border">RANK</span>
				</div>
				<div id="score-name-header" class="col-3">
					<span>NAME</span>
				</div>
				<div id="score-value-header" class="col-2">
					<span>SCORE</span>
				</div>
				<div id="score-hide-button" class="col-1">
					<span id="score-hide-button" onclick="scoreHideButton(event)">HIDE</span>
				</div>
			</div>
			<div class="score-user-content"></div>
		</div>
	</div>
</div
