<div id="shortcuts-container" class="text-border scale">
    <div id="shortcuts-forms">
        <div id="social-media">
            <ul id="social-media-content" style="margin-bottom: -3px; margin-top: 2px; margin-right: 2px;">
                <a target="_blank" href="https://twitter.com/pg5_studio"><img src="../../images/game/shortcuts/icon_twitter.png" alt="icon_twitter" style="width: 28px;
                    height: 28px;
                    cursor: pointer;"></a>
                <a target="_blank" href="https://www.facebook.com/steingame/"><img src="../../images/game/shortcuts/icon_facebook.png" alt="icon_facebook" style="width: 28px;
                    height: 28px;
                    cursor: pointer;"></a>
                <a target="_blank" href="https://www.reddit.com/r/stein_world/"><img src="../../images/game/shortcuts/icon_reddit.png" alt="icon_reddit" style="width: 28px;
                    height: 28px;
                    cursor: pointer;"></a>
                <a target="_blank" href="https://discord.gg/K2xA8Vg"><img src="../../images/game/shortcuts/icon_discord.png" alt="icon_discord" style="width: 28px;
                    height: 28px;
                    cursor: pointer;"></a>
                <a target="_blank" href="https://www.reddit.com/r/stein_world/submit?selftext=true"><img src="../../images/game/shortcuts/icon_bug_report.png" alt="icon_bug_report" style="width: 75px;
                    height: 28px;
                    cursor: pointer;"></a>
            </ul>
        </div>
        <div id="shortcuts-button-container">
            <div class="toggle-button" id="inventory-toggle-button"></div>
            <div class="toggle-button" id="quest-log-toggle-button"></div>
            <div class="toggle-button" id="map-toggle-button"></div>
            <div class="toggle-button" id="hub-toggle-button"></div>
            <div class="toggle-button" id="shop-toggle-button"></div>
            <div class="toggle-button" id="options-toggle-button"></div>
        </div>
    </div>
</div>
