<div id="target-container" style="display: none;" class="text-border scale">
    <div id="target-forms" style="">
        <div class="name-panel">
            <div id="target-name" style=""></div>
            <div id="target-level" style="">10</div>
        </div>
        <div id="target-life-panel" style="background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 23, 38) 100%, rgb(237, 220, 160) 100%) repeat scroll 0% 0%;">100/100</div>
        <div id="target-buffs"></div>
    </div>
</div>
