<!DOCTYPE html>
<html lang="en">

  <head>
    <%include common/head %>
    <%include index/head %>
  </head>

  <body>

    <!-- Page Content -->
    <section id="pages">
      <%include index/pages/home %>
    </section>

    <!-- Common vendor -->
    <%include common/vendor %>

    <!-- Index Vendor -->
    <%include index/vendor %>

    <!-- Bottom Navigation -->
    <%include index/footer-navigation %>

  </body>
</html>
