
<footer id="sticky-footer" class="py-4 fixed-bottom">
  <div class="container-fluid">
    <div id="stein-quick-bar-container" class="stein-scale">
        <div id="stein-quick-bar-frame">
            <div id="stein-experience-bar" style="background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(95, 216, 36) 0%, rgb(176, 137, 96) 0%) repeat scroll 0% 0%;">

            </div>
            <ul id="stein-quick-bar">
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-0" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-1" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-2" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-3" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%; border: 2px solid rgb(244, 87, 50);"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-4" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-5" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-6" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-7" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-8" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
                <li class="stein-quick-bar-slot" id="stein-quick-bar-slot-9" style="background: rgb(204, 174, 122) none repeat scroll 0% 0%;"></li>
            </ul>
        </div>
    </div>
  </div>
</footer>
