<html>
<head>
    <title>Game Development Tutorial</title>

    <!-- Common vendor -->
    <%include ../../common/vendor %>

    <script src = "javascripts/game/event/not-use/keyboard.js" type = "text/javascript"></script>

    <script src = "javascripts/game/renderer/not-use/sprite.js" type = "text/javascript"></script>

    <script src = "javascripts/game/not-use/game_tmp2.js" type = "text/javascript"></script>
</head>
<body>    

    <canvas id = "game"></canvas>

</body>
</html>
