<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <%include ../common/head %>
    <%include ../game/head %>
  </head>

  <body>

    <!-- In game User Interface --!>
    <!-- Chat -->
    <%include ../game/user-interface/chat %>
    <!-- Quick Bar -->
    <%include ../game/user-interface/quick-bar %>
    <!-- Player Status -->
    <%include ../game/user-interface/player-status %>
    <!-- Score Status -->
    <%include ../game/user-interface/score %>
    <!-- Target Status -->
    <%include ../game/user-interface/target-status %>
    <!-- Shortcuts -->
    <%include ../game/user-interface/shortcuts %>
    <!-- Dialog -->
    <%include ../game/user-interface/dialog %>
    <!-- info -->
    <%include ../game/info %>
    <!-- /In game User Interface --!>

    <!-- Game Play Canvas -->
    <%include ../game/canvas %>

    <!-- Common vendor -->
    <%include ../common/vendor %>

    <!-- Game Vendor -->
    <%include ../game/vendor %>

  </body>
</html>
